#LIBRARY IMPORTS
from os.path import abspath, dirname, join
from OCC import VERSION as OCC_VERSION

#3D VISUALISATION VERSIONS
APLICATION_VERSION = "1.0.1"
OCC_VERSION = OCC_VERSION
THREEJS_RELEASE = "r113"

#OWNER INFORMATION
OWNER = "Robert Rijnbeek"
OWNER_EMAIL = "r.rijnbeek@dinsa.es"

#DEFINITION OF THE BASE DIRECTRY
BASE_DIR = dirname(dirname(abspath(__file__)))
SHAPE_DIR = join(BASE_DIR,"app\\static\\shapes\\")

#DEBUG PARAMETER DEFINITION
DEBUG = True
APP_ENV = 'development'

#WEBSERVICE URL DEFINITION
PORT = 8080
HOST = "0.0.0.0"
#SERVER_NAME="0.0.0.0:5000"

#SECURITY KEYS
SECRET_KEY = '7623b8ae51a4b5af97be6534caef90e4bb9bdeb3385af008f90b23a5d1616bf319bc298105da20ca'
WTF_CSRF_SECRET_KEY = 'electricacadiz'

#FLASK WRITABLE EXTENSIONS
ALLOWED_EXTENSIONS = {'txt','json'}

"""
#DATABASE CONFIGURATION
SQLALCHEMY_DATABASE_NAME = 'siemens'
SQLALCHEMY_DATABASE_URI = f'mysql://root:{GetPass()[1]}@127.0.0.1:3306/{SQLALCHEMY_DATABASE_NAME}'
SQLALCHEMY_ENGINE_OPTIONS = {'connect_args': {'connect_timeout': 5 }}
SQLALCHEMY_TRACK_MODIFICATIONS = False
#SQLALCHEMY_DATABASE_URI = 'mysql://Teditel:12345@192.168.0.120:3306/desarrollo'
"""
"""
#EMAIL CONFIGURATION
MAIL_SERVER='smtp.gmail.com'
MAIL_USERNAME='r.rijnbeek@dinsa.es'
MAIL_PASSWORD=f"{GetPass()[0]}"
MAIL_PORT=587
MAIL_USE_TLS = True

"""
