body {
  background: linear-gradient(#ced7de, #808080);
  margin: 0px;
  overflow: hidden;
  background-attachment: fixed;
  
}
#pythonocc_rocks {
  padding: 5px;
  position: absolute;
  left: 1%;
  bottom: 2%;
  height: 38px;
  width: 280px;
  border-radius: 5px;
  border: 2px solid #f7941e;
  opacity: 0.7;
  font-family: Arial;
  background-color: #414042;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.5;
}
#commands {
  padding: 5px;
  position: absolute;
  right: 1%;
  top: 2%;
  height: 65px;
  width: 180px;
  border-radius: 5px;
  border: 2px solid #f7941e;
  opacity: 0.7;
  font-family: Arial;
  background-color: #414042;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.5;
}

#ifc_selector {
  padding: 0px;
  position: absolute;
  top: 2%;
  left: 50%;
  margin-top: 0px;
  margin-left: -125px;
  width: 250px;
  height: 102px;
  border: 2px solid #f7941e;
  opacity: 0.7;
  font-family: Arial;
  background-color: #414042;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.5;
  text-align: center
}

#render_ifc  {
  margin-top: 2px;
  padding:3px;
  color: black;
  opacity: 1;
  width: 180px;
  font: icon;
  border-radius: 5px;
  background-color: #8ff86b;
  font-weight: bold;
}

#render_ifc:hover {
  background-color: #7fda64;
}

#render_ifc:disabled,
#render_ifc[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

a {
  color: #f7941e;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}

select, #select_ifc_file {
  width: 240px;
  height: 30px;
  border: 1px solid;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: initial;
}

ul#menu {
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 8px;
}
ul#menu li {
  display: inline-block;
}
ul#menu li label {
  background-color: #d3d3d3;
  color: black;
  padding: 5px 20px;
  text-decoration: none;
  transition: 0.2s;
}
ul#menu li label:hover, ul#menu li input:checked + label {
  background-color: #808080;
  transition: 0.3s;
}
ul#menu li input {
  position: fixed;
  left: 100%;
}

@media only screen and (max-device-width: 480px) {

  #commands {
    display:none
  }

  #pythonocc_rocks {
    height: 75px;
    width: 90%;
    left: 5%;
    font-size: 30px;
  }

  #ifc_selector {
    width: 90%;
    left: 5%;
    height: 170px;
    margin-left: auto;
  }

  select {
    width: 90%;
    border: 1px solid;
    padding: 20px;
    font-size: 30px;
    border-radius: 15px;
  }

  #render_ifc {
    width: 80%;
    border: 1px solid;
    padding: 10px;
    font-size: 40px;
    border-radius: 15px;
    margin-top: 15px;
  }

  
}
