{% extends "base_template.html" %}

{% block content %}

    <div id="pythonocc_rocks">
        pythonocc-{{occ_version}} <a href="https://github.com/mrdoob/three.js" target="_blank">three.js {{threejs_release}}</a> renderer
        <br>
        Check our blog at <a href=http://www.pythonocc.org>http://www.pythonocc.org</a>
    </div>

    <div id="commands">
        <b>t</b> view/hide shape<br>
        <b>w</b> toggle wireframe/shaded<br>
        <b>g</b> view/hide grid<br>
        <b>a</b> view/hide axis<br>
    </div>

    <div id="message"> 
        default message
    </div>

    <div id="ifc_selector">
        <div>
            <ul id="menu">
                <li>
                    <input type="radio" name="menu-selection" id="html-item" checked>
                    <label onclick="selectIFC_Menu();" for="html-item">Select IFC</label>
                </li>
                <li>
                    <input type="radio" name="menu-selection" id="css-item">
                    <label onclick="uploadIFC_Menu();" for="css-item">Upload IFC</label>
                </li>
            </ul>
        </div>
        <div id="menu_1" style="display:block;">
            <select name="ifc_file" id="ifc_file" onchange="ButtonActivationController();">
                <option  value=""></option>
                {% for file in file_list %}
                    <option  value="{{file}}">
                        {{file}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div id="menu_2" style="display:none;">
                <button type="button" id="select_ifc_file" onclick="select_IFC_File();" >Select IFC File</button>
                <input type='file' id="getFile" onchange="file_selected(this);" accept=".ifc">
        </div>
        <button id="render_ifc" class="render_ifc" onclick="renderIFC();" disabled>
            Render IFC
        </button> 
    </div>
    
{% endblock %}